#mc>button{
    border:none;
    background: none;
    font-size: 18px;
}
#mc>button:hover{
    color:rgb(0, 215, 249);
    cursor: pointer;
}
#mc {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
  }
  
  
  
